.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
  height: 100vh;
  background-image: url("/home_page.jpg");
  background-size: cover;
  background-position: center;
  font-family: 'Roboto Mono', monospace;
  transition: 1s all ease-in-out;
}
